.navigate {
    ul {
        display: flex;
        gap: 24px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
        }

        li:hover ,
        li:active {
            color: var(--primaryColor);

            svg {
                path {
                    fill: var(--primaryColor);
                }
            }
        }
    }
}

.position_center {
    display: flex;
    justify-content: center;
}

// header
.header {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 8px;
    flex-wrap: wrap;
}

.header_search {
    display: flex;
    gap: 16px;
    flex-grow: 2;
}

.header_nav {
    display: flex;
    gap: 24px;
    flex: 1 1 100%;
    justify-content: flex-end;

    @include media($md) {
        flex: 1 1 0;
    }

    @include media($lg) {
        justify-content: unset;
    }
}

// users widget
.user_widget {
    width: 200px;
    cursor: pointer;
}

.user_widget-main {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 10px;

    h2 {
        flex-grow: 2;
    }
}

.user_widget-main > .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
    flex-shrink: 0;
}

.user_widget-main > .arrow_icon {
    transition: transform 0.5s ease;
}

.arrow_icon_rotate {
    transform: rotate(180deg);
}

.dropdown {
    background-color: var(--whiteColor);
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    width: inherit;
    z-index: 5;

    li {
        padding: 8px 4px;
    }
}

// lists
.parts {
    display: flex;
    flex-direction: column;
    max-width: var(--widthInContent);
    margin-inline: auto;
    gap: 40px;
    width: 300px;

    @include media($sm) {
        width: 500px;
    }

    @include media($md) {
        width: 600px;
    }

    @include media($lg) {
        width: 900px;
    }

    @include media($xl) {
        width: unset;
    }
}

.parts_header {
    display: flex;
    justify-content: space-between;

    a {
        display: flex;
        color: var(--grayColor);
        text-decoration: none;

        svg {
            transform: rotate(-90deg);

            path {
                fill: var(--grayColor);
            }
        }
    }
}

.parts_list {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.shops {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    max-width: var(--widthInContent);
    width: 100%;
    gap: 40px;
}

// main
main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}