:root {
    --widthContent: 1440px;
    --widthInContent: 1200px;

    --whiteColor: white;
    --secondaryColor: #70C05B;
    --secondaryMuteColor: #E5FFDE;
    --primaryColor: #FF6633;
    --grayColor: #BFBFBF;

    --borderRadius: 4px;
}