:root {
    --widthContent: 1440px;
    --widthInContent: 1200px;

    --whiteColor: white;
    --secondaryColor: #70C05B;
    --secondaryMuteColor: #E5FFDE;
    --primaryColor: #FF6633;
    --primaryMutedColor: #FCD5BA;
    --grayColor: #BFBFBF;
    --hardGrayColor: #8F8F8F;
    --bgColor: #FBF8EC;
    --footerBgColor: #F9F4E2;
    --lightGrayColor: #F3F2F1;
    --surfaceColor: #414141;
    --grayHardest: #606060;
    --error: #D80000;
 
    --borderRadius: 4px;
    --borderRadiusToggle: 49px;

    --shadow_m_orange: 4px 8px 16px rgba(255, 102, 51, 0.2);
    --shadow_of_toggle: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --shadow_of_toggle_circle: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 1px 1px rgba(0, 0, 0, 0.08);
}

