:root {
    --widthContent: 1440px;
    --widthInContent: 1200px;

    --whiteColor: white;
    --secondaryColor: #70C05B;
    --secondaryMuteColor: #E5FFDE;
    --primaryColor: #FF6633;
    --primaryMutedColor: #FCD5BA;
    --grayColor: #BFBFBF;
    --hardGrayColor: #8F8F8F;
    --bgColor: #FBF8EC;
    --footerBgColor: #F9F4E2;
    --lightGrayColor: #F3F2F1;
    --surfaceColor: #414141;
 
    --borderRadius: 4px;

    --shadow_m_orange: 4px 8px 16px rgba(255, 102, 51, 0.2);
}